extends layout
block content
          .container-full
              .row
                .col-md-12
                    .row
                        .col-md-8
                         img.img-rounded.imgActividad.img-responsive(src="http://i80.photobucket.com/albums/j199/navi_inline/Blog/Comitiva_r.jpg")
                         h1.tituloAc Actividad. Patinaje en Barcelona
                         | 
                         h2.autorAc  Creada por: Pepe
                         | flekwdjsma
                         p.miniDescripcion Donec id elit non mi porta gravida at eget metus.
                         |  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                         p.textoActividad Lorem ipsum
                         | Lorem ipsum dolor sit amet, 
                         strong consectetur adipiscing elit
                         | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
                         em
                         | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
                         |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
                         small
                         | Aliquam mi erat, aliquam vel luc
                        .col-md-4.ficha
                         h3.tituloFicha titulo Actividad
                            ul.fichaAc
                                li
                                  i.fa.fa-globe.fa-2x
                                  |   lugar

                                li
                                  i.fa.fa-calendar.fa-2x 
                                  |   fecha

                                li
                                  i.fa.fa-clock-o.fa-2x
                                  |   hora

                                li
                                  i.fa.fa-user.fa-2x
                                  |   creador

                                li
                                  i.fa.fa-exclamation.fa-2x
                                  |   requisitos

                                li
                                  i.fa.fa-info.fa-2x
                                  |   categorias

                                li
                                  i.fa.fa-users.fa-2x
                                  |   miembros
                                
                                li
                                  a(href='/').i.fa.fa-share-alt-square.fa-2x

                          
              
                             a#modal-713588.btn(href='#modal-container-713588', role='button', data-toggle='modal') Unirse
          
                                  #modal-container-713588.modal.fade(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                    .modal-dialog
                                      .modal-content
                                        .modal-header
                                          button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                            | &times;
                          
                                          h4#myModalLabel.modal-title
                                            | Modal title
                        
                                        .modal-body
                                          | ...
                        
                                        .modal-footer
                                          button.btn.btn-default(type='button', data-dismiss='modal')
                                            | Close
                    
                         
                                          button.btn.btn-primary(type='button')
                                            | Save changes
                
                .col-md-12.publicaciones
                 |      
                 hr.colorgraph
                 h2.PubliA Publicaciones de la Actividad
                 p.comentA
                  | Lorem ipsum dolor sit amet, 
                  strong consectetur adipiscing elit
                  | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst.  