extends layout

block content
  h2.seccion Amiguea: 
  
  .container-full
    .row
        .col-md-12
            .col-md-4
            .col-md-8

                form.form-horizontal(method='post')
                  fieldset.h3 #{message}
                    |      
                    hr.colorgraph
                    | 
                        
                    .form-group
                      span.col-md-1.col-md-offset-2.text-center
                        i.fa.fa-user.bigicon
                      |                             
                      .col-md-8
                        input#fname.form-control(name='name', type='text', placeholder='Nombre')
                    |                         
                    .form-group
                      span.col-md-1.col-md-offset-2.text-center
                        i.fa.fa-pencil-square-o.bigicon
                      |                             
                      .col-md-8
                        input#asunto.form-control(name='asunto', type='text', placeholder='Asunto')
                    |                         
                    .form-group
                      span.col-md-1.col-md-offset-2.text-center
                        i.fa.fa-envelope.bigicon.bigicon
                      |                             
                      .col-md-8
                        input#email.form-control(name='email', type='text', placeholder='Email')
                    |                         
                    .form-group
                      span.col-md-1.col-md-offset-2.text-center
                        i.fa.fa-pencil-square-o.bigicon
                      |                             
                                          
                      .col-md-8
                        textarea#message.form-control(name='message', placeholder='Mensaje.', rows='7')
                    |                         
                    .form-group
                      .col-md-12.text-center
                        button.repeating-linear (type='submit') Enviar