extends layout
block content

  .row
    .col-md-8
      h2.seccion Actividades
      .panel-heading Calendario Actividades
        p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
           .panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.

    .col-md-4
      h2.seccion Notificaciones
          .notice.notice-success
            strong Notice
              |  notice-success
          |     
          .notice.notice-danger
            strong Notice
              |  notice-danger
          |     
          .notice.notice-info
            strong Notice
              |  notice-info
          |     
          .notice.notice-lg
            strong Big notice
              |  notice-lg
          |     
          .notice.notice-sm
            strong Small notice
              |  notice-sm

          .notice.notice-warning
            strong Notice
              |  notice-warning
          |     
    
