extends layout

block content
  .jumbotron
    h1 Amiguea:
    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut posuere sem, nec facilisis enim. Vestibulum finibus nisl at velit laoreet, id dictum mauris efficitur. Mauris rutrum pharetra egestas.
    //p
      //a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;
  .row
    .col-md-6
      h2 Actividades
      .panel-heading Calendario Actividades
        p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
           .panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.

    .col-md-6
      h2 Grupos
      .panel-heading Panel Grupos
        p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo
           .panel-body We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.

    
