doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
 
    title #{title} - Amiguea:
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  // NAVBAR
  // 
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Amiguea:
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') Contacta
            li
              a(href='/contact') Iniciar sesión

            li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    |Mi área 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Perfil
                    li
                      a(href='#') Mis mensajes
                    li
                      a(href='#') Xxx
                    li.divider
                    li.dropdown-header Cuenta
                    li
                      a(href='#') xxx
                    li
                      a(href='#') Log out

    .container.body-content
      block content
      hr
      footer
        p &copy; #{year} -Projecte DAW

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
