doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
 
    title #{title} - Amiguea:
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/hamburgler.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Raleway' )
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Catamaran:400,900')
   
    
    body       
       .mobilenav
            ul
              li
                a(href='/actividades') Actividades     
              li
                a(href='#') Grupos 
              li
                a(href='/perfil') Mi perfil    
              li
                a(href='#') Mis mensajes  
              li
                a(href='#') Mi cuenta
              li
                a(href='/contact') Contacta con nosotros
              li
                a(href='#') Sign out 

        a.icon(href='javascript:void(0)')
            .hamburger
              .menui.top-menu
              .menui.mid-menu
              .menui.bottom-menu

        #section
            .container
                block content
        #push
       
  
    footer.footer
      .row
        .small-12.columns
          p.logo 
            i.i.fa.fa-commenting  
            |  AMIGUEA: 
          |       
          p.links
            a(href='/home') Home
            |         
            a(href='/actividad') Actividades
            |         
            a(href='#') Grupos
            |         
            a(href='/about') About
            |         
            a(href='/faq') Faq
            |         
            a(href='/contact') Contact
          |       
          ul.inline-list.social
            a(href='#')
              i.fa.fa-facebook
            |         
            a(href='#')
              i.fa.fa-twitter
            |         
            a(href='#')
              i.fa.fa-linkedin
            |         
            a(href='#')
              i.fa.fa-github
          |             
          p.copywrite Copywrite Amiguea: &copy; 2015-2016

        
        script(src="/javascripts/bootstrap.min.js")
        script(src='/javascripts/jquery-1.10.2.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/respond.js')
        script(src='/javascripts/modernizr-2.6.2.js')
        script(src='/javascripts/hamburgler.js')


    block scripts


 