extends layout

block content
  .top-content
      .inner-bg
        .container
          .row
            .col-sm-8.col-sm-offset-2.text
              h1.seccion
                strong AMIGUEA:
                
              |                             
              .description
                p
                  | Inicia sesión en AMIGUEA:  
          hr.colorgraph
          |                      
          .row
            .col-sm-6.col-sm-offset-3.form-box.form-login
              .form-top
                .form-top-left
                  h3 Inicia sesión
                  |                            
                  p Introduce nombre de usuario y contraseña 
                |                       
                .form-top-right
                  i.fa.fa-lock
              |                             
              .form-bottom
                form.login-form(role='form', action='', method='post')
                .col-xs-6.col-sm-6.col-md-6
                  .form-group
                    label.sr-only(for='form-username') Nombre de usuario
                    | 
                    input#form-username.form-username.form-control(type='text', name='form-username', placeholder='Nombre de usuario...')
                  | 
                .col-xs-6.col-sm-6.col-md-6                        
                  .form-group
                    label.sr-only(for='form-password') Contraseña
                    | 
                    input#form-password.form-password.form-control(type='password', name='form-password', placeholder='Password...')
                .col-xs-6.col-sm-6.col-md-6                       
                  button.repeating-linear(type='submit') Sign in! 
                .col-xs-6.col-sm-6.col-md-6
                  p.olvidar Si has olvidado tu contraseña
                  a(href='#', data-toggle='modal', data-target='#recuperar') recuperar contraseña
          |                     
          .row
            .col-sm-6.col-sm-offset-3.social-login
              h3 ...o inicia sesión con :
              |                         
              .social-login-buttons
                a.btn.btn-link-2(href='#')
                  i.fa.fa-facebook
                  |  Facebook
                | 
                a.btn.btn-link-2(href='#')
                  i.fa.fa-twitter
                  |  Twitter
                | 
                a.btn.btn-link-2(href='#')
                  i.fa.fa-google-plus
                  |  Google Plus
