 header.cd-header
      .cd-logo
        a(href='#0')
          img(src='img/cd-logo.svg', alt='Logo')
      | &#x9;&#x9;
      nav
        ul.cd-secondary-nav
          li
            a(href='#0') Actividades
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#0') Grupos
      // cd-nav
      a.cd-primary-nav-trigger(href='#0')
        span.cd-menu-text Menu
        span.cd-menu-icon
      // cd-primary-nav-trigger
    | &#x9;
    nav
      ul.cd-primary-nav
        li.cd-label Mensajes
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Mis mensajes
        | &#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;
        li.cd-label Actividades
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Mis actividades
        | &#x9;&#x9;&#x9;
        li.cd-label Settings
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Mis cuenta
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Mis perfil
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Contacta con nosotros
        | &#x9;&#x9;&#x9;
        | &#x9;&#x9;&#x9;
        li.cd-label Bye
        | &#x9;&#x9;&#x9;
        li
          a(href='#0') Salir
        | &#x9;&#x9;&#x9;
        li.cd-label We&apos;re Social
        | &#x9;&#x9;&#x9;
        li.cd-social.cd-facebook
          a(href='#0') Facebook
        | &#x9;&#x9;&#x9;
        li.cd-social.cd-instagram
          a(href='#0') Instagram
        | &#x9;&#x9;&#x9;
        li.cd-social.cd-dribbble
          a(href='#0') Dribbble
        | &#x9;&#x9;&#x9;
        li.cd-social.cd-twitter
          a(href='#0') Twitter
    | &#x9;
    section.cd-intro
      h1 Full-Screen Pop-Out Navigation
    | &#x9;
    main.cd-main-content
      .cd-container