.col-md-12
                    textarea#message.form-control(name='message', placeholder='Mensaje.', rows='7')
                |                         
                .form-group
                  .col-md-12.text-center
                    button.btn.btn-primary.btn-lg(type='submit') Enviar