body {
   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   color: #33383b;
}
/*-----------------NAVBAR*/
  
  .extended {
      transform: translateX(0);
  }
  
/*body*/
html,body {
  height: 100%;
  max-width: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
      /* Sticky footer styles
      -------------------------------------------------- */
     /* Wrapper for page content to push down footer */
 #wrap {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      /* Negative indent footer by it's height */
      margin: 0 auto -60px;
      }
      /* Set the fixed height of the footer here */
#push,
#footer {
    height: 160px;
    width: auto;
}
      /*ACTIVIDAD*/

.imgActividad {
    width: 600px;
    margin: 0 auto;
}
.tituloAc  {
    font-size: 2em;
    color: #333;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Catamaran', sans-serif;
    text-transform:uppercase;

}
.seccion {
    font-family: 'Catamaran', sans-serif;
    text-transform:uppercase;
    font-size: 20px;
      font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
    margin-top: 20px;
  margin-bottom: 10px;
}


.autorAc {
    color:  #333;
    font-style: italic;
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    text-transform: lowercase;
}
.container-full {
    
    margin: 0 auto;
    max-width: 100%;
}
.activ {
    padding-top: 15px;
    padding-left: 100px;
}
.fichaAc {
    list-style: none;
    text-align:left;
    font-size: 14px;
    padding-top: 35px;
}
.tituloFicha {
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.fichaAc li {
	padding: 10px;
}
.fichaAc li a:visited {
        color:#fff;
    
    }

.ficha {
    background-color: #5554a1;
    padding: 28px;
    border-radius: 14px;
    color: #fff;
    list-style:none;
    
}
.PubliA {
    letter-spacing: 2px;
    font-size: 20px;


}


/*footer*/


.row {

  max-width: 1200px; 

}

.footer p{
    text-transform:uppercase;
}

.titulos {
    color:#F9A530;
}

.footer {

  background-color: #292c2f;

  text-align: center;

  font-size: 1.2rem;

  padding: 4rem; }

  .footer p.logo {

    color: #F9A530;

    font-size: 1.8rem;

    margin: 0 0 1rem; }

  .footer p.copywrite {

    color: #8f9296;

    font-size: 0.875rem;

    margin: 0; }

  .footer .links a {

    list-style: none;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; 
    letter-spacing: 1px;
  }

    .footer .links a::after {

      content: "•";

      padding: 0 0.4rem 0 0.8rem; }

    .footer .links a:last-child::after {

      content: "";

      padding: 0 0.4rem 0 0.8rem; }

    .footer .inline-list a {
        display: inline-block;

        width: 2rem;

        height: 2rem;

        background-color: #33383b;

        border-radius: 2px;

        font-size: 1.5rem;

        color: #fff;

        text-align: center;

        line-height: 22px;

        margin: 0 3px 0 0;
    
    }

    /*login*/
    .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
 
background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(148,21,173,1) 93%, rgba(148,21,173,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(50%, rgba(254,182,69,1)), color-stop(93%, rgba(148,21,173,1)), color-stop(100%, rgba(148,21,173,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(148,21,173,1) 93%, rgba(148,21,173,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(148,21,173,1) 93%, rgba(148,21,173,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(148,21,173,1) 93%, rgba(148,21,173,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 50%, rgba(148,21,173,1) 93%, rgba(148,21,173,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#9415ad', GradientType=1 );


}
    /*sign in*/
.form-login {
    background-color: #5554a1;
    border-radius: 15px;
    padding: 10px;
    margin-left:10px;

}
/*perfil*/
.edi {
    padding-left:50px;
   
}
.perfil p {
    padding-bottom: 30px;
    padding-top: 10px;

}
.lista {
    padding-top: 30px;


}
.form-login {
color:#fff;
}

/*boton*/
.repeating-linear {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #fff;
      color:#fff;
  background-color:transparent; 
  letter-spacing: 2px;
  text-transform:uppercase;
}

.repeating-linear:hover {
  
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #fff;
    border-radius: 4px;
      color:#fff;
    background-color:transparent; 
   letter-spacing: 2px;
  text-transform:uppercase;
  border-image: repeating-linear-gradient( 80deg, purple, yellow) 10;
 
}
/*notificaciones*/
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

